<%- include("../partials/header") %>
        <h1>Express skill</h1>
        <h3>skills as of <%= time %></h3>
        <ul>
          <a href="/skills/new">Add skills</a>
          <% skills.forEach( skill => { %>
          
            <li>
             
              <a href="/skills/<%= skill.id %>"><%= skill.skill %></a>
        <% }); %>
        </ul>
        <%- include("../partials/footer") %>
  